body {
    background-image: url("https://c2.staticflickr.com/6/5337/29716940423_50cf3e3ffc_o.png");
}

.buttonOrange {
  background-color:#FC7601;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  padding: 10px 120px;
  text-align: center;
}

.buttonOrangeShort {
  background-color:#FC7601;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  padding: 10px 68px;
  text-align: center;
}

.buttonGray {
  background-color:#707B7C;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  padding: 10px 113px;
  text-align: center;
  }​
